.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-box {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-arrow {
    margin-left: 10px;
  }
  
  .drop-menu {
    background-color: green;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
  }
  
  .dropdown-item {
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(17, 228, 52);
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.371);
    color: green;
  }
  

  .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .plus-button {
    background-color: green;
  }
  
  .minus-button {
    background-color: red;
  }